@import "_setting.scss";

$card-cover-border-radius: 4px;

.card-detail-modal {
  .card-detail-cover {
    background-color: $column-bg-color;
    border-radius: $card-cover-border-radius;

    img.card-cover {
      transition: .3s ease;
      display: block;
      width: calc(100% + 2 * #{$gap});
      max-height: 200px !important;
      object-fit: cover;
      border-radius: $card-cover-border-radius;
      cursor: zoom-in !important;
      padding: 0 30%;
    }

    .card-cover-overlay {
      transition: .3s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;

      .zoom-icon {
        color: #fff;
        font-size: 32px;
      }
    }

    &:hover {
      img.card-cover {
        opacity: 0.3;
      }

      .card-cover-overlay {
        opacity: 1;
      }
    }
  }

  .card-detail-content {
    margin: ($gap * 2) 0 $gap 0;
  }

  .close-btn {
    font-size: 14px;
    padding: 4px 12px;
  }
  
  .confirm-btn {
    font-size: 14px;
    padding: 4px 12px;
  }
}