@import "_setting.scss";

.board-content {
  display: flex;
  height: $board-content-height;
  overflow-x: auto; // create horizontal scroll bar for element
  overflow-y: hidden;
  &:after {
    content: '';
    flex: 0 0 $gap;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:vertical {
    height: 11px;
  }
  &::-webkit-scrollbar-thumb:horizontal {
    background-color: $common-element-bg;
    border-radius: 8px;
  }

  .column-drop-preview {
    background-color: rgba(188, 188, 255, 0.1);
    border: 1px dashed rgb(255, 255, 255);
    margin: 5px 45px 5px 5px;
  }

  .add-new-column {
    width: 250px;
    max-width: 250px;
    line-height: 32px;
    padding: 4px 0 4px 15px;
    cursor: pointer;
    color: white;
    margin-left: $gap;
    font-size: 15px;
    background-color: hsla(0, 0%, 100%, .24);
    border-radius: $column-border-radius;
    transition: $hover-transition;
    &:hover {
      background-color: hsla(0, 0%, 100%, .34);
    }
  }

  .enter-new-column {
    width: 250px;
    max-width: 250px;
    background-color: $column-bg-color;
    line-height: 32px;
    padding: 4px 10px;
    margin-left: $gap;
    font-size: 15px;
    border-radius: $column-border-radius;

    input.input-enter-new-column {
      margin: 5px 0;
    }

    span.cancel-new-column {
      margin-left: $gap;
      cursor: pointer;
      i {
        font-size: 18px;
        color: $alert-danger;
        &:hover {
          color: darken($color: $alert-danger, $amount: 10);
        }
      }
    }
  }
}
