@import '_setting.scss';

.board-content {
    display: flex;
    margin: 0 $gap $gap;
    overflow-x: auto; // create horizontal scroll bar for element
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
        height: 11px;
    }
    &::-webkit-scrollbar-thumb:horizontal {
        background-color: $common-element-bg;
        border-radius: 8px;
    }
}
